
<h3>заказ отправлен</h3>
<p>Это сообщение уведомит Вас что мы отправили ваш недавний заказ</p>
<table>
	<tr>
		<th colspan="2">кол.</th> <th>Описание</th></tr>
			
		
	<%=render @order.line_items -%>
</table>